*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}
/*-----------------NAV--------------------*/
.menu-container{
    
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: #5d3bef 2px solid;
    z-index: 999; 
}

.menu{
    align-self: flex-end;
}
.menu span{
   color: #222222;
   font-size: 21px;
   margin-right: 10px;
}
nav{
    
    background-color: #ffff;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    padding: 20px;
}
nav ul a{
    text-decoration: none;
    color: #5d3bef;
    font-size: 20px;
}
nav ul i{
    margin-right: 10px;
}

.hidden{
    display: none;
}
/*--------------------PROFILE---------------------*/
.profile{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    margin-top: 40px;
    
}
.profile h1{
    font-size: 50px;
    font-weight: 600;
    color: #222222;

}
.profile h2{
    font-size: 18px;
    font-weight: 400;
    color: #423f40;
    

}
.photo-profile{
    display: flex;
    width: 100%;
    margin-top: 40px;
    position: relative;
}
.photo-profile img{
    max-width: 100%
    
}

.icons{
    width: 100%;
    position: absolute;
    top: -60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;


}
.icons span{
    padding: 8px;
    background-color: #8B7BEF;
    border: #ffff solid 1px;
    border-radius: 50%;
    align-items: center;
    
}
.icons span img{
    margin: 0% auto;
}

.contact{
    position: relative;
    width: 90%;
    display: flex;
    background-color: #5d3bef;
    margin-top: 20px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}
.contact img{
    width: 25px;
    margin-right: 30px;
}
.contact h2{
    color: #ffff;
    font-size: 16px;
}

/*----------ABOUT ME----------*/
.about-me{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    justify-content: center;
    margin: 80px auto ;
}
.about-me h2{
    color: #222222;
    font-size: 24px;
    font-weight: 600;
}
.about-me p{
    color: #423f40;
    font-size: 16px;
    margin-top: 20px;
    align-items: center;
    line-height: 1.5;
    text-align: justify;
}

/*----------MY SKILLS-----------*/

.my-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 85%;
}
.my-skills h2{
    color: #222222;
}
.skills-container h3{
    color: #222222;
}

.skills-container p{
    color: #423f40;
}

.skills{
    margin-top: 30px;
    background-color: #f9f6ff ;
    line-height: 1.5;
    text-align: justify;
    padding: 20px;
}

/*==============EXPERIENCE==============*/
.experience{
    width: 85%;
    text-align: center;
    margin: 0% auto;
    margin-top: 90px;

}
.experience-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-align: justify;
    margin-top: 50px;
}
.experience-text h3,span{
    font-size: 16px;
}
.experience-text p{
    font-size: 12px;
}
.experience-item img{
    width: 25%;
}
.experience-item span{
    align-self: center;
}

/*===================PORTFOLIO===============*/
.portfolio{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% auto;
    margin-top: 80px;
   
}

.portfolio h2{
    color: #222222;
}
.portfolio-img div{
    padding-top: 20px;
    
}
.portfolio-img img{
    width: 100%;
}


/*==================FOOTER====================*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0% auto;
    margin-top: 60px;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.footer div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}

.footer div h3{
    font-size: 16px;
    color: #222222;
}
.footer div p{
    font-size: 12px;
    color: #423f40;
}


.footer span{
    background-color: #f9f5f2;
    padding: 10px;
    border-radius: 50%;
    
}

.bye{
    color: #8B7BEF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;

}
.made{
    border-top: #5d3bef 1px solid;
    display: block;
    width: 100%;
    text-align: center;
}

/*===============MEDIA QUERIES=============*/

/*--------MEDIUM SCREENS-----------*/
.profile-big{
    display: none;
}

@media (min-width:600px) {
    .profile, .contact{
        display: none;

    }

    .profile-big{
        display: flex;
        width: 90%;
        margin-top: 50px;
    }

    .photo-profile-big, .info{
        width: 50%;
        padding: 20px;
    }

    .photo-profile-big img{
        width: 100%;
    }

    .info h1{
        font-size: 60px;
        font-weight: 600;
        color: #222222;
    }
    .info h2{
        font-size: 20px;
        font-weight: 400;
        color: #423f40;
    
    }

    .icons-big{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .icons-big span{
        width: 60px;
        padding: 12px;
        background-color: #8B7BEF;
        border: #ffff solid 1px;
        border-radius: 50%;
        align-items: center;
    }
    .icons-big img{
        width: 100%;
    }

    .contact-big{
        width: 90%;
        display: flex;
        background-color: #5d3bef;
        margin-top: 20px;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        
    }
    .contact-big img{
        width: 25px;
        margin-right: 30px;
    }
    .contact-big h2{
        color: #ffff;
        font-size: 16px;
    }
    .text-profile-big, .icons-big, .contact-big{
        padding: 10px;
    }


    /*----------EXPERIENCE----------*/
    .experience-text h3,span{
        font-size: 22px;
    }

    .experience-text p{
        font-size: 15px;
    }


    /*-----------PORTFOLIO------------*/
    .portfolio {
        width: 90%;    
    }

    .portfolio-img div{
        width: 100%;  
        
    }

    .portfolio-img div img{
        width: 100%;
    }

    .portfolio h2{
        min-width: 100%;  
        text-align: center;
    }
    /*--------ADJUSTING FONTS--------*/
    .title{
        font-size: 30px;
    }
    .paragraph{
        font-size: 18px;
    }

    .about-me h2{
     font-size: 30px;
    }
    .about-me p{
        font-size: 18px;
    }

    /*------FOOTER------*/

    .footer div h3{
        font-size: 20px;
    }
    .footer div p{
        font-size: 16px;
    }
    .footer span img{
        width: 60px;
      
    }



    
}
/*----------BIG SCREENS-----------*/
@media (min-width:990px){
    /*-----------MENU----------*/
    .menu{
        display: none;
    }

    #main-menu{
        display: flex;
        justify-content: flex-end;
    }

    nav ul li{
        display: inline-block;
        font-size: 18px;
    }
    nav ul a{
        color: #222222;
    }
    nav ul a:first-child{
        color: #5d3bef;
    }

    /*---------PROFILE---------*/

    .profile-big{
        align-items: center;
        margin: 0% auto;
        margin-top: 100px;
        justify-content: space-around;
        width: 90%;
    }
    .photo-profile-big{
        width: 35%;
    }
    .info h1{
        font-size: 60px;
    }
    .info h2{
        font-size: 25px;

    }
    .icons-big{
        justify-content: space-between;
        width: 70%;

    }
   
    .contact-big{
        width: 70%;
        margin-top: 50px;
    }

    .about-me{
        width: 70%;
    }
    /*----------SKILLS---------*/
    .my-skills{
        width: 80%;
    }
    .skills-container{
        display: flex;   
        margin-top: 20px;
    }
    .skills{
        margin: 10px;
    }

    /*---------EXPERIENCE-----------*/
  
    .experience-container{
        display: flex;
    }
    .amazon, .spotify{
        margin-right: 6px;
    }
    .portfolio{
        margin-top: 120px;
    }
    .portfolio-img{
        display: flex;
        margin-top: 30px;
        
    }
    .portfolio-img div{
        padding: 10px;
        height: 70%;

    
    }
    .portfolio-img div img{
        height: 100%;
    }
    
    footer{
        margin-top: 10px;
    }
    .footer{
        width: 70%;
    }

}